<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Fill Basic Information</div>
      <div class="item item-body">
        <div>
          <form bgcolor="#E6E6FA">
          <p><b>First Name :</b><input type="text"  ng-model="fa.firstName" style="border:1px solid #000000;"></p>
          <p><b>Last Name : </b><input type="text"  ng-model="fa.LastName" style="border:1px solid #000000;"> </p>  
          <p><b>Mobile Number :</b><input type="text"  ng-model="fa.MobileNumber" style="border:1px solid #000000;"> </p> 
          <p><b>Address :</b><input type="text"  ng-model="fa.Address" style="border:1px solid #000000;"></p>
          <button type="submit" ng-click="info(fa)" > Submit  </botton>  

          <button onclick="window.location.href='./#/dash'">Edit Records</button>
          <input type="reset" value="Reset Form" >
          </form>
        </div>

        
      </div>
    </div>
    
    
  </ion-content>
</ion-view>
