<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Fill Basic Information</div>
      <div class="item item-body">
        <div>
          <form>
          <p>First Name :<input type="text"  ng-model="fa.firstName"  ></p>
          <p>Last Name :<input type="text"  ng-model="fa.LastName"> </p>  
          <p>Mobile Number :<input type="text"  ng-model="fa.MobileNumber"> </p> 
          <p>Address :<input type="text"  ng-model="fa.Address"></p>
          <button type="submit" ng-click="info(fa)" > Submit  </botton>  

          <button onclick="window.location.href='./#/dash'">Edit Records</button>
          <input type="reset" value="Reset Form" >
          </form>
        </div>

        
      </div>
    </div>
    
    
  </ion-content>
</ion-view>
